<html>
  <head>
    <title>The Democracy Straight-Up Project</title>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="kfkxhEhBq73RsAXvSmP1MVvsY5Ip9duA9BaBOyCKqSx0GsVdJgcL1i+dV82Yc/YgaFKkn3TftBG4uRMQXOuRFw==" />
   <!-- CSS only -->
    <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="static/style.css">

  {% comment %} <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script> {% endcomment %}




  </head>
  <body>
  <header class="navbar navbar-fixed-top navbar-inverse"> 

  <div class="container"> 
    
    <nav>

      <div class="navbar-header">
        <a id="logo" href="/">DSU</a>
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <ul class="nav navbar-nav navbar-right collapse navbar-collapse"
          id="bs-example-navbar-collapse-1">
        <li><a href="/">Home</a></li>
        <li><a href="/help">Help</a></li>
          <li><a href="/login">Log in</a></li>
      </ul>
    </nav>
  </div>
</header>
    <div class="container">
      <div class="center jumbotron section_first">
<h1>Welcome to the Democracy Straight-Up Project!</h1>
<div class="part-2">
<h2>
  Vote directly on federal legislation. 
</h2>
<div class="section_btn">
<a class="btn-xl btn-primary" href="/signup/create">Claim Your Seat</a> <!-- btn btn-xl btn-primary -->
</div>
<p></p>
<div id=big-font>
<a class="btn btn-lg btn-primary" href="/bills">Bills</a>
</div>

<div class="center img_section"><a href="https://rubyonrails.org/"><img alt="Head shot of chimpanzee stroking his chin as if mulling over a particularly tricky thought" width="100" src="/static/image/monkey_think-b4a0e875e626791e184e60641a40b7f7b297fa9592a5ec449bc50473d603af74.jpg" /></a></div>
                      
  <footer class="footer">
  <small class="small_section">
    The Democracy Straight-Up Project
  </small>
  <nav>
    <ul class="nav-item">
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>
       
</div>
<!-- Here starts the code copied directly from the MaxCDN section of this page: https://www.w3schools.com/bootstrap4/bootstrap_get_started.asp -->

<!-- Optional theme (already greyed)-->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous"> -->

<!-- Latest compiled and minified CSS -->
<!-- (newly greyed here down) <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- end of 'MaxCDN' code -->
  </body>
</html>