.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
  }
  a#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  }
  .center.jumbotron.section_first h1 {
  font-size: 63px;
  letter-spacing: 1px;
  text-align: center;
  }
  
  .part-2 {
  text-align: center;
  }
  .part-2 h2 {
  color: #777;
  font-size: 2em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
  }
  
  footer.footer {
  display: flex;
  justify-content: space-between;
  }
  
  ul.nav-item {
  display: inline-flex;
  }
  
  ul.nav-item li a {
  color: #555555;
  font-size: 16px;
  }
  ul.nav-item li {
  list-style: none;
  margin-left: 15px;
  }
  
  .center.jumbotron.section_first {
  position: relative;
  top: 40px;
  text-align: center;
  padding-bottom: 10px;
  }
  a.btn-xl.btn-primary {
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 10px;
  }
  .section_btn {
  margin: 10px;
  padding: 10px 0px;
  }
  small.small_section {
  font-size: 100%;
  color: #555555;
  }
  .center.img_section {
  margin: 20px 0px;
  }
  
  /*page-2 css start */
  
  .container.Enter_the_Floor {
  position: relative;
  top: 70px;
  }
  .center.If_already {
  text-align: center;
  }
  p.claimed {
  font-size: 1.5em;
  line-height: 1.5em;
  }
  p.pad {
  margin-top: 10px;
  line-height: 1.5em;
  font-size: 1.5em;
  }
  h1.pad {
  font-size: 3em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  }

  .row.form_section {
    margin-top: 80px;
} 


